<ion-header>
  <ion-toolbar>
    <ion-title>
      Camera Picture
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="openCam()">Open Camera</ion-button>
  <ion-button (click)="scan()">scan</ion-button>
  <!-- <img src="{{ buf }}" /> -->
  <p>{{ message }}</p>
  <p>Device - {{ device }}</p>
  <p>{{ error }}</p>
  <ul>
    <li *ngFor="let item of devices; let currentElementIndex = index">
      <ion-button (click)="connect(item.id)">{{ item.id }}</ion-button>
    </li>
  </ul>
  <img [src]="sanitized.bypassSecurityTrustUrl(image)" />
</ion-content>
